# Logistic Regression
This week we are going to dive into logistic regression. This is a regression that uses a function that helps us better penalize false positives.

In [1]:
import pandas as pd
import sklearn.preprocessing, sklearn.decomposition, \
    sklearn.linear_model, sklearn.pipeline, sklearn.metrics
from sklearn.feature_extraction.text import CountVectorizer
from sklearn_pandas import DataFrameMapper, cross_val_score
from sklearn.model_selection import train_test_split
from pathlib import Path, PureWindowsPath
import os, sys
import numpy as np
import matplotlib.pyplot as plt

p = Path(os.getcwd()).parents[0]
ex1_path = Path(f'{p}\Octave Code\ex2')                
assert ex1_path.exists(), "Check path to data"
os.chdir(os.path.abspath(ex1_path))

In [2]:
df = pd.read_csv(Path(r'ex2data1.txt'), header=None)
df.columns = ['exam1', 'exam2', 'label']
df.head()

       exam1      exam2  label
0  34.623660  78.024693      0
1  30.286711  43.894998      0
2  35.847409  72.902198      0
3  60.182599  86.308552      1
4  79.032736  75.344376      1

In [3]:
df.describe()

            exam1       exam2       label
count  100.000000  100.000000  100.000000
mean    65.644274   66.221998    0.600000
std     19.458222   18.582783    0.492366
min     30.058822   30.603263    0.000000
25%     50.919511   48.179205    0.000000
50%     67.032988   67.682381    1.000000
75%     80.212529   79.360605    1.000000
max     99.827858   98.869436    1.000000

In [4]:
mapper1 = DataFrameMapper([
    (['exam1'], sklearn.preprocessing.StandardScaler()),
    (['exam2'], sklearn.preprocessing.StandardScaler())
])

mapper2 = DataFrameMapper([
    (['exam1'], None),
    (['exam2'], None)
])


pl = sklearn.pipeline.Pipeline([
    ('featurize', mapper1),
    ('lr', sklearn.linear_model.LogisticRegression())
])

X_train, X_test, y_train, y_test = train_test_split(df.drop('label', axis=1), df.label, test_size=0.15, random_state=42)

pl.fit(X_train, y_train)
y_pred = pl.predict(df)
print('Accuracy:', pl.score(X_test, y_test))

Accuracy: 0.8

In [5]:
to_pred = pd.DataFrame({'exam1':[45], 'exam2':[85]})
pl.predict_proba(to_pred)

C:\Users\Derek-T\Anaconda3\envs\ds\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

array([[ 0.42091173,  0.57908827]])

We can see that the correct label was predicted (1) although our confidence isn't quite as good as we would hope. We have a low sample size, so we can expect some challenges with our model.